<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
  <%- include('./includes/head', { siteTitle: `${post.title} | ${themeConfig.siteName}` }) %>
  <meta name="description" content="<%= post.description %>">
  <script src="<%= themeConfig.domain %>/media/js/prism.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.10.0/katex.min.css">
</head>
<body>
  <div class="antialiased">
    <div class="max-w-6xl mx-auto px-6 md:px-8">
      <%- include('./includes/header') %>
      <div class="mb-20 md:flex mt-10 lg:mt-6 md:border-internal md:border-gray-400 md:pt-2 lg:border-t-0 lg:pt-0">
        <div class="w-full md:w-2/3 mt-6">
          <h1 class="post-title text-3xl"><%= post.title %></h1>
          <% if (themeConfig.showFeatureImage && post.feature) { %>
            <img class="max-w-full mt-6 rounded-sm" src="<%= post.feature %>" alt="">
          <% } %>
          <div class="mt-6 lg:mt-10 post-content">
            <%- post.content %>
          </div>
          <% if (typeof commentSetting !== 'undefined' && commentSetting.showComment) { %>
            <% if (commentSetting.commentPlatform === 'gitalk') { %>
              <div class="mt-6">
                <%- include('./includes/gitalk') %>
              </div>
            <% } %>
            <% if (commentSetting.commentPlatform === 'disqus') { %>
              <div class="mt-6">
                <%- include('./includes/disqus') %>
              </div>
            <% } %>
          <% } %>
        </div>
        <% if (!post.hideInList) { %>
          <div class="w-full md:w-1/3">
            <div class="mt-6 md:pl-8">
              <h4 class="text-base font-thin text-gray-700 mb-2">
                <i class="icon icon-release"></i>
                发布时间
              </h4>
              <div class="text-lg mb-6"><%= post.dateFormat %></div>
              <h4 class="text-base font-thin text-gray-700 mb-2">
                <i class="icon icon-tag"></i>
                标签
              </h4>
              <div class="mb-6">
                <% post.tags.forEach(function(tag) { %>
                  <a href="<%= tag.link %>" class="py-1 px-4 border-gray-300 border text-sm inline-block text-gray-700 hover:text-gray-900 rounded mr-2 mb-2"># <%= tag.name %></a>
                <% }); %>
              </div>
              <h4 class="text-base font-thin text-gray-700 mb-2">
                <i class="icon icon-words"></i>
                字数
              </h4>
              <div class="text-lg mb-6"><%= post.stats.words %> Char</div>
              <h4 class="text-base font-thin text-gray-700 mb-2">
                <i class="icon icon-read"></i>
                阅读时间
              </h4>
              <div class="text-lg mb-6"><%= post.stats.text %></div>
              <h4 class="text-base font-thin text-gray-700 mb-2">
                <i class="icon icon-related"></i>
                相关阅读
              </h4>
              <div class="border-internal border-gray-400">
                <%- include('./includes/related-posts', { currentPost: post }) %>
              </div>
              <%- include('./includes/sponsor') %>
            </div>
          </div>
        <% } %>
        <% if (post.link.includes('about')) { %>
          <div class="w-full md:w-1/3">
            <div class="mt-6 md:pl-8">
              <%- include('./includes/friends') %>
            </div>
          </div>
        <% } %>
      </div>
      <% if (!post.link.includes('about')) { %>
        <ul class="post-copyright">
          <li class="post-copyright-author">
            <strong class="language" data-lan="author">本文作者：</strong>
            <%- site.customConfig.author %>
          </li>
          <li class="post-copyright-link">
            <strong class="language" data-lan="link">本文链接：</strong>
            <a href="<%= post.link %>" title="<%= post.title %>"><%= post.link %></a>
          </li>
          <li class="post-copyright-license">
            <strong class="language" data-lan="copyright">版权声明： </strong>
            文章除特别声明外，均采用
            <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/" rel="noopener" target="_blank">
              <i class="icon icon-copyright"></i>
              BY-NC-SA
            </a>
            许可协议
          </li>
        </ul>
      <% } %>
      <%- include('./includes/footer') %>
    </div>
  </div>
  <script>
    Prism.highlightAll()
  </script>
</body>
</html>